

.form{
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    div{
        margin-top: 20px;
        input{
            width: 200px;
            height: 28px;
        }
        p{

        }
    }
    button{

    }
    button{

    }
}